<a href="https://colab.research.google.com/github/KimYunGyu2/ai/blob/main/01HW20220125%EA%B9%80%EC%9C%A4%EA%B7%9C43.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 001
print('Hello World')

Hello World

In [6]:
# 002
print("Mary's cosmetics")
print('Mary\'s cosmetics')

Mary's cosmetics
Mary's cosmetics

In [8]:
# 003
print('신씨가 소리질렀다. "도둑이야".')
print("신씨가 소리질렀다. \"도둑이야\".")

신씨가 소리질렀다. "도둑이야".
신씨가 소리질렀다. "도둑이야".

In [10]:
# 004
print('"C:\Windows"')
print("\"C:\Windows\"")

"C:\Windows"
"C:\Windows"

In [9]:
# 005
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\t는 탭키누른것만큼 칸을 띄우는것이고 \n은 줄을 바꿔준다

안녕하세요.
만나서		반갑습니다.

In [ ]:
# 006
print("오늘은", "일요일")
#오늘은 일요일

In [14]:
# 007
print('naver','kakao','sk','samsung', sep = ';')

naver;kakao;sk;samsung

In [15]:
# 008
print('naver','kakao','sk','samsung', sep = '/')

naver/kakao/sk/samsung

In [17]:
# 009
print("first", end = ' ');print("second")

first second

In [18]:
# 010
print(5/3)

1.6666666666666667

In [19]:
# 011
삼성전자 = 50000
stock = 10
print(삼성전자 * stock)

500000

In [ ]:
# 012
market_value = 298000000000000
stock = 50000
per = 15.79

In [25]:
# 013
s = "hello"
t = "python"
print(f'{s}! {t}')
print('{}! {}'.format(s, t))
print('%s! %s' % (s, t))

hello! python
hello! python
hello! python

In [ ]:
# 014
# 2 + 2 * 3 에서 보편적인 산술계산 순서에 따라 2랑3이랑 먼저 곱하고 그후에 2를 더해줄것 같다

In [27]:
# 015
a = "132"
print(type(a))
#132는 숫자이지만 쌍따옴표 안에 있으므로 문자열로 인식한다

<class 'str'>

In [28]:
# 016
num_str = int("720")
print(type(num_str))

<class 'int'>

In [29]:
# 017
num = str(100)
print(type(num))

<class 'str'>

In [30]:
# 018
num = float("15.79")
print(type(num))

<class 'float'>

In [33]:
# 019
year = "2020"
print(int(year))
print(int(year)+1)
print(int(year)+2)

2020
2021
2022

In [35]:
# 020
monthly = 48584
month = 36
print('총 금액은', monthly * month, '입니다')
print(f'총 금액은 {monthly*month} 입니다')

총 금액은 1749024 입니다
총 금액은 1749024 입니다