<a href="https://colab.research.google.com/github/KimYunGyu2/ai/blob/main/02HW20220126%EA%B9%80%EC%9C%A4%EA%B7%9C08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 051
movie_rank = ['닥터 스트레인지','스플릿','럭키']
print(movie_rank, type(movie_rank))

['닥터 스트레인지', '스플릿', '럭키'] <class 'list'>

In [ ]:
# 052
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
# 053
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
# 054
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
# 055
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 057
nums = [1, 2, 3, 4, 5, 6, 7]
print('max : ', max(nums))
print('min : ', min(nums))

max :  7
min :  1

In [ ]:
# 058
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [ ]:
# 059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", 
"쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [ ]:
# 060
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [ ]:
# 121
str = input('문자를 입력하세요 >> ')
if str.islower():
  print(str.upper())
else:
  print(str.lower())

문자를 입력하세요 >> C
c

In [ ]:
# 122
score = int(input('score: '))
if score > 80:
  grade = 'A'
elif score > 60:
  grade = 'B'
elif score > 40:
  grade = 'C'
elif score > 20:
  grade = 'D'
else:
  grade = 'E'

print(f'grade is {grade}')

score: 83
grade is A

In [ ]:
# 123
???

In [ ]:
# 124
num1 = int(input('number1: '))
num2 = int(input('number2: '))
num3 = int(input('number3: '))

max = 0
if num1 > num2 & num1 > num3 :
  max  = num1
elif num2 > num3 :
  max = num2
else :
  max = num3

print(max)

number1: 10
number2: 9
number3: 20
20

In [ ]:
# 125
pn = input('휴대전화 번호 입력: ')
if(int(pn[2])==1):
  res = 'SKT'
elif(int(pn[2])==6):
  res = 'KT'
elif(int(pn[2])==9):
  res = 'LGU'
else:
  res = '알수없음'

print(f'당신은 {res} 사용자입니다')

휴대전화 번호 입력: 019-345-1922
당신은 LGU 사용자입니다

In [ ]:
# 126
post = input('우편번호 : ')
if(int(post[2]) < 3):
  area = '강북구'
elif(int(post[2]) < 6):
  area = '도봉구'
else:
  area = '노원구'

print(area)

우편번호 : 01600
노원구

In [ ]:
# 127
num = input('주민등록번호 : ')
if(int(num[7]))%2==0:
  print('여자')
else:
  print('남자')

주민등록번호 : 821010-2635210
여자

In [ ]:
# 128
num = input('주민등록번호 : ')
if(int(num[8:10])<9):
  print('서울 입니다.')
else:
  print('서울이 아닙니다.')

주민등록번호 : 861010-1015210
서울 입니다

In [ ]:
# 129
????

In [ ]:
# 130
????