<a href="https://colab.research.google.com/github/KimYunGyu2/ai/blob/main/04HW20220207%EA%B9%80%EC%9C%A4%EA%B7%9C08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 211
def 함수(문자열) :
 print(문자열)
함수("안녕")
함수("Hi")

안녕
Hi

In [ ]:
# 212
def 함수(a, b) :
 print(a + b)
함수(3, 4)
함수(7, 8)

7
15

In [ ]:
# 213
함수를 정의할때 문자열의 매개변수를 넣어야 한다고 써놓고
호출할때에는 매개변수를 넣지 않아서 에러가 발생했다

In [ ]:
# 214
a, b의 값을 입력받아 두개를 더해야 하는 함수인데 문자열과 int 값을 서로 더할수 없어서 에러가 발생했다

In [2]:
# 215
def print_with_smile(string) :
  print(string + ":D")

In [3]:
# 216
print_with_smile("안녕하세요")

안녕하세요:D

In [ ]:
# 217
def print_upper_price(price) :
  print(price*1.3)

In [ ]:
# 218
def print_sum(a, b):
  print(a+b)

In [5]:
# 219
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [18]:
# 220
def print_max(a,b,c) :
  max = 0
  if a > b and a > c:
    max = a
  elif b > c :
    max = b
  else:
    max = c
  print(max)

print_max(7,7,10)

10

In [20]:
# 221
def print_reverse(string) :
    print(string[::-1])

print_reverse("python")

nohtyp

In [ ]:
# 222
???

In [21]:
# 223
def print_even(num_list):
  for i in num_list:
    if i % 2 == 0 :
      print(i)
    else:
      continue

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [22]:
# 224
def print_keys(yg_dict):
  for i in yg_dict.keys():
    print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [24]:
# 225
def print_value_by_key(dict, keys):
  print(dict[keys])

my_dict = {"10/26" : [100, 130, 100, 100],
 "10/27" : [10, 12, 10, 11]}

print_value_by_key (my_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
# 226
???

In [ ]:
# 227
???

In [25]:
# 228
def calc_monthly_salary(annual_pay) :
    monthly_pay = int(annual_pay / 12)
    return monthly_pay

calc_monthly_salary(12000000)

1000000

In [26]:
# 229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)
# 왼쪽: 100
# 오른쪽: 200

왼쪽: 100
오른쪽: 200

In [27]:
# 230
def my_print (a, b) :
 print("왼쪽:", a)
 print("오른쪽:", b)
my_print(b=100, a=200)
# 왼쪽: 200
# 오른쪽: 100

왼쪽: 200
오른쪽: 100