<a href="https://colab.research.google.com/github/KimYunGyu2/ai/blob/main/05HW20220208%EA%B9%80%EC%9C%A4%EA%B7%9C08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 231
def n_plus_1 (n) :
 result = n + 1
n_plus_1(3)
print (result)

result가 함수 안에서만 정의 되어있는 지역변수라서 함수 밖에서 result를 쓸수 없다

NameError: ignored

In [5]:
# 232
def make_url(str):
  print(f'www.{str}.com')

make_url("naver")

www.naver.com

In [6]:
# 233
def make_list(str):
  list =[]
  for i in str:
    list.append(i)
  print(list)

make_list("abcd")

['a', 'b', 'c', 'd']

In [7]:
# 234
def pickup_even(str):
  list = []
  for i in str:
    if int(i) % 2 == 0 :
      list.append(i)
  print(list)

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [ ]:
# 235
??

In [ ]:
# 236
a = 14
b = 18
c = 22
print(c) 는 22

In [ ]:
# 237
처음 함수(10) = 14
그다믕 함수(함수(10)) = 18
c = 함수(함수(함수(10))) = 22
print(c) 는 22

In [ ]:
# 238
a = 10+4 = 14
c = 14 * 10 = 140
print(c) = 140

In [ ]:
# 239
c ->  num에 12
함수1(12) -> 12+4 = 16
print(c) = 16

In [ ]:
# 240
c = 함수2(2) -> num = 12
함수1(12) -> num = 14
함수0(14) -> 14*2를 리턴한다

print(c) = 28

In [ ]:
# 291

In [ ]:
# 292

In [ ]:
# 293

In [ ]:
# 294

In [ ]:
# 295

In [13]:
# 296
per = ["10.31", "", "8.00"]
for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [16]:
# 297
per = ["10.31", "", "8.00"]
list = []
for i in per:
    try:
        list.append(float(i))
    except:
        list.append(0)
print(list)

[10.31, 0, 8.0]

In [18]:
# 298
try:
    4 / 0
except ZeroDivisionError as e:
  print(e)

division by zero

In [22]:
# 299
data = [1, 2, 3]
for i in range(5):
  try:
    print(data[i])
  except IndexError as e:
    print(e)

1
2
3
list index out of range
list index out of range

In [23]:
# 300
per = ["10.31", "", "8.00"]
for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("else 정상")
    finally:
        print("finally 끝")

10.31
else 정상
finally 끝
0
finally 끝
8.0
else 정상
finally 끝