<a href="https://colab.research.google.com/github/KimYunGyu2/ai/blob/main/06HW20220209%EA%B9%80%EC%9C%A4%EA%B7%9C08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 436
'' 안이 비어있으므로  bool의 연산 값은 False 가 나오므로 답은 c. No 가 출렵됩니다

In [ ]:
# 437
'' 안이 띄어쓰기가 들어있으므로 bool의 연산 값은 True 가 나오므로 답은 b. Yes 가 출력된다

In [ ]:
# 438
[] 안이 비어있으므로  bool의 연산 값은 False 가 나오므로 답은 a. No 가 출렵됩니다

In [ ]:
# 439
리스트 안에 요소들이 들어있으므로 bool의 연산 값은 True 가 나오므로 b. Yes 가 출렵됩니다

In [ ]:
# 440
''안이 비어있으므로 bool의 연산값은 False 가 나오지만 앞에 not 이 있어서 True가 되서 a. Yes 가 출력됩니다.

In [ ]:
# 441
c. Python
eval 함수는 함수 안에 있는 ' ' 안에 있는 값을 ' '이 없는것처럼 연산 합니다. 따라서 'print("Python")' 을 print("Python")으로 만들고 거기서 나온 결과 값인 Python을 출력합니다

In [ ]:
# 442
c. 90 
input 함수를 통해  45*2를 입력하면  "45*2" 라는 문자열 형식의 값이 되고
print(eval("45*2")) 에서 eval 함수는 내부에 " " 따옴표가 없는것처럼 안쪽을 계산해서 90이라는 값을 연산해내고 print(90)이 되어서 90을 출력합니다

In [ ]:
# 443
???

In [ ]:
# 444
d.c
max(a) 라는건 a라는 리스트에서 가장 큰 값을 말하는건데
문자열 사이에 크기를 비교하려면 아스키코드표를 참조해보면 c가 가장 높은 99라는 값을 가진다
그러므로 max(a)는 c가 되고 그걸 print 하면 c가 출력된다.

In [ ]:
# 445
b. A
min(a) 라는건 a라는 리스트에서 가장 작은 값을 말한다
위에서 처럼 아스키코드표를 보면 A 의 정수값이 65로 가장 작은걸 알수 있다
그러므로 min(a)는 A 를 말하므로 print 하면 A가 출력된다

In [ ]:
# 446
d. c
아스키 코드표를 참고하면 c의 값이 가장 높은 수를 가지므로
max(a) 는 c를 나타내고 그걸 출력하면 c 가 출력된다

In [ ]:
# 447
c. 1
a b c A B 는 각각 아스키코드표에 따르면 97,98,99,65,66 이므로 가장 작은수는 1이다

In [ ]:
# 448
d. 6
sum(a)는 a 리스트의 요소 값을 모두 더한 값을 구하는것이므로 6이다

In [ ]:
# 449
c. 18
a리스트는 요소가 0부터 시작해서 10미만까지 3씩 차이나는 수들이므로
a = [0,3,6,9] 이다
리스트 요소들의 총합은 18

In [ ]:
# 450
b. 0
a = list(range(10,-10,3)) 
a 라는 리스트는 10부터 시작해서 3씩 증가해서 -10미만까지인데 시작이랑 끝지점이 잘못설정되어 요소가 한개도 안들어있으므로
그 합은 0이다

In [ ]:
# 451
a. -24
a리스트는 -10부터 시작해서 5미만까지 2씩 증가하는 요소를 가지고 있다.
따라서 a = [-10, -8, -6, -4, -2, 0, 2, 4] 이므로
그 합은 -24 이다

In [ ]:
# 452
c. [5,4,3,2,1]
y는 x[0]번째 요소가 6으로 바뀌기 전에 복사해둔 것이므로
y = [5,4,3,2,1] 이다

In [ ]:
# 453
d. 5

In [ ]:
# 454
d. False

In [ ]:
# 455
a. True