In [ ]:
###########################
# Function
###########################

# 함수 만들기

# 수학에서의 함수와 유사

# 딸기(input) -> 믹서기(함수) -> 딸기 주스(output)
# 바나나(input) -> 믹서기(함수) -> 바나나 주스(output)
# 사과(input) -> 믹서기(함수) -> 사과 주스(output)

#함수의 가장 기본형

def 함수명():
    #수행

In [1]:
def print_3():
    print('hi')
    print('hi')
    print('hi')
    
print_3()

hi
hi
hi

In [2]:
def print_3(val):
    print(val)
    print(val)
    print(val)
    
print_3('bye')

bye
bye
bye

In [6]:
def print_3(val, n):
    for i in range(n):
        print(val)
    
print_3('bye', 5)

bye
bye
bye
bye
bye

In [ ]:
# 매개변수를 2개 지정했으나 함수를 호출할때 1개만 넣으면 에러가 발생한다.
def print_3(val, n):
    for i in range(n):
        print(val)
    
print_3('bye')

In [ ]:
# 매개변수를 2개 지정했으나 함수를 호출할때 3개를 넣으면 에러가 발생한다.
def print_3(val, n):
    for i in range(n):
        print(val)
    
print_3('bye',2,3)

In [8]:
# 가변 매개 변수
# 함수를 선언할 때 매개변수와 함수를 호출할때 매개변수가 같아야만 했다. 적어도 않되고 많아도 안된다.

def print_n_times(n, *val):
    for i in range(n):
        for v in val:
            print(v)
        print()
        
print_n_times(3,'hi','hello','good morning')
print_n_times(3,'hi','hello')

hi
hello
good morning

hi
hello
good morning

hi
hello
good morning

hi
hello

hi
hello

hi
hello

In [9]:
# 입력 받은 정수들을 모두 더한 합을 반환하는 sum_all 함수를 작성하세요

def sum_all(*val):
    print(sum(val))

sum_all(1,2,3,4,5)
sum_all(1,2,3)

15
6

In [11]:
# 기본 매개변수(순서를 기본 매개변수를 뒤에 위치시킨다)
def print_3(val, n=2):
    for i in range(n):
        print(val)
    
print_3('bye', 4)

bye
bye
bye
bye

In [12]:
def print_n_times(n, *args): # 관용적으로 가변매개변수의 이름은 args를 사용한다.
    for i in range(n):
        for arg in args:
            print(arg)
        print()
        
print_n_times(3,'hi','hello','good morning')
print_n_times(3,'hi','hello')

hi
hello
good morning

hi
hello
good morning

hi
hello
good morning

hi
hello

hi
hello

hi
hello