<a href="https://colab.research.google.com/github/KimYunGyu2/ai/blob/main/myday3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
##############################################
# Review
##############################################

# Collection : 많은 데이터(elements)를 저장하는...

# 리스트 list      튜플 tuple         딕셔너리 dict       셋 set

# []               ()                 {}                  {}
# mutable          immutable          mutable             mutable
# indexing/slicing indexing/slicing   Nope                Nope
#                  (1,)               {key:value}         중복데이터 미허용
#                                     자바의 map, JS json 중복제거

# List
list1 = [1,2,3,4,5]
list2 = [2,3,'하나','둘',True,False]

print(list1[0]) # indexing
print(list2[2:4])# slicing [시작:끝(미만)]

list1[0] = 9
print(list1)

print(list1 * 3)

list1.append(8) # append()는 마지막에 넣는다
print(list1)

list1.insert(0, 10) # 특정 위치를 지정하여 삽입
print(list1)

1
['하나', '둘']
[9, 2, 3, 4, 5]
[9, 2, 3, 4, 5, 9, 2, 3, 4, 5, 9, 2, 3, 4, 5]
[9, 2, 3, 4, 5, 8]
[10, 9, 2, 3, 4, 5, 8]

In [23]:
list3 = list1
print(list1)
print(list3)
print(id(list1)) # 메모리의 위치 확인하는법
print(id(list3))

del list3[0]

print(list1)
print(list3)

# list1 -----------------> [10, 9, 2, 3, 4, 5, 8] <------------- list3

# 원본을 유지하고 복사본을 만드는법
list4 = list1.copy()
print(list1)
print(list4)

print(id(list1)) # 메모리의 위치 확인하는법
print(id(list4))

del list4[0]

print(list1)
print(list4)

[2, 3, 4, 5, 8]
[2, 3, 4, 5, 8]
140353274435456
140353274435456
[3, 4, 5, 8]
[3, 4, 5, 8]
[3, 4, 5, 8]
[3, 4, 5, 8]
140353274435456
140353273025472
[3, 4, 5, 8]
[4, 5, 8]

In [14]:
t1 = ('대한','민국')
print(type(t1))
t2 = (1,)
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [16]:
# t1[0] = '만세'
#인덱싱 슬라이싱은 가능
print(t1[0])
#t1.pop()

대한

In [21]:
# Dict

dict = {
    'key':'value'
}

print(dict)
print(dict['key'])

dict['newkey'] = 'ai'
print(dict)

del dict['key']
print(dict)

{'key': 'value'}
value
{'key': 'value', 'newkey': 'ai'}
{'newkey': 'ai'}

In [22]:
# Set

set = {1,1,2,2,2,3}
print(set)

# print(set[0]) 인덱싱 불가능

{1, 2, 3}

In [27]:
###################################################
# if 조건문
###################################################

# if 조건식(True or False):
#   True일경우 실행
# else:
#   False일 경우 실행

if False:
  print('True')
else:
  print('False')


if False:
  print('1st')
elif False:
  print('2nd')
elif False:
  print('3rd')
else:
  print('etc')

score = 80

if score >= 100:
  print('상')
else:
  if score >= 50:
    print('중')
  else:
    print('하')


if score >= 100:
  print('상')
elif score >= 50:
  print('중')
else:
  print('하')

False
etc
중
중

In [40]:
# 입력) 당신의 점수를 입력하세요 >>> 95
# 출력) 당신의 점수는 95 점이고 학점은 AO학점 입니다.
# 100~90 A
# 89~80 B
# 79~70 C
# 69~60 D
# 나머지 F

# 0~3 -
# 4~6 O
# 7~9 +

score = int(input('당신의 점수를 입력하세요 >>> '))
if score >= 90:
  grade = 'A'
elif score >= 80:
  grade = 'B'
elif score >= 70:
  grade = 'C'
elif score >= 60:
  grade = 'D'
else:
  grade = 'F'

gr = ''
if int(score%10) < 4:
  gr = '-'
elif int(score%10) < 7:
  gr = 'O'
else:
  gr = '+'
print(f'당신의 점수는 {score}이고 학점은 {grade}{gr}학점 입니다.')

당신의 점수를 입력하세요 >>> 99
당신의 점수는 99이고 학점은 A+학점 입니다.

In [ ]:
####################################
# While
####################################

# 반복문은 작업 수행을 한 번이 아니라 계속해서 수행해야 할때 사용한다.
# While 반복 작업을 몇 번 수행할지 확실하지 않을 때 주로 사용한다.
# 운동장을 해가 질때까지 반복해서 돌자

# while 조건식:
#   실행구문

while True:
  print('운동장 돌기')

In [49]:
n = 1
while n <= 10:
  print(n)
  n += 1 #n = n + 1 (자바 n++)

print('------------')
print(n)

1
2
3
4
5
6
7
8
9
10
------------
11

In [54]:
#10부터 1까지 짝수만 (꺼꾸로) 출력
n = 5
while n >= 1:
  print(2*n)
  n -= 1

10
8
6
4
2

In [63]:
# 사용자로부터 임의의 정수를 입력 받아 모두 리스트에 보관합니다.
# 단, 0을 입력하면 프로그램을 종료합니다.(0은 리스트에 저장안함)
# 최종 저장된 리스트를 출력합니다.

arr = []
no = 1
while no != 0:
  no = int(input('정수입력 >>> '))

  if no != 0:
    arr.append(no)

print(arr)

정수입력 >>> 1
정수입력 >>> 3
정수입력 >>> 2
정수입력 >>> 0
[1, 3, 2]

In [79]:
# while 중첩
# while 내부에 또 다른 while 을 사용하는 것을 중첩이라고 한다.

# 5일 동안 1~3교시 수업을 한다.

# 1일차 1교시입니다.
# 1일차 2교시입니다.
# 1일차 3교시입니다.
# 2일차 1교시입니다.


# 3일차 3교시입니다.

day = 0

while day < 3:
  day += 1
  cl = 1

  while cl <= 3:

    print(f'{day}일차 {cl}교시입니다.')
    cl += 1

1일차 1교시입니다.
1일차 2교시입니다.
1일차 3교시입니다.
2일차 1교시입니다.
2일차 2교시입니다.
2일차 3교시입니다.
3일차 1교시입니다.
3일차 2교시입니다.
3일차 3교시입니다.

In [83]:
# 구구단을 2단부터 9단까지 출력하세요
dan = 2
while dan <= 9:
  n = 1
  while n <= 9:
    print(f'{dan} X {n} = {dan*n}')
    n += 1
  dan += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [95]:
# q. 정수를 입력 받아서 그 횟수 만큼 'Hello'를 출력하는 프로그램을 작성하세요
# 0 이하의 값이 입력되면 '잘못된 입력입니다.' 라고 출력하세요.
num = int(input('정수 입력 >> '))
i = 1
if num <= 0:
  print('잘못된 입력입니다.')
else:
 while i <= num:
   print(f'{i}번째 Hello')
   i += 1

정수 입력 >> -1
잘못된 입력입니다.

In [97]:
# q2. 1부터 100사이의 모든 정수 중에서 7의 배수만 출력하세요
n = 1
while n <= 100:
  if n % 7 == 0:
    print(n)
  n += 1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [106]:
# 커피 1잔을 300원에 판매하는 자판기가 있다
# 자판기에 돈을 넣었을때 자판기에서 뽑을 수 있는 커피가 몇잔이고
# 잔돈이 얼마인지 함께 출력하세요

# 자판기에 얼마를 넣을까요 >> 1400
# 커피 1잔, 잔돈 1100원
# 커피 2잔, 잔돈 800원
# 커피 3잔, 잔돈 500원
# 커피 4잔, 잔돈 200원

money = int(input('자판기에 얼마를 넣을까요 >> '))
i = 1
cof = 300
while cof <= money:
  print(f'커피 {i}잔, 잔돈 {money-cof}원')
  i += 1
  cof += 300

자판기에 얼마를 넣을까요 >> 1400
커피 1잔, 잔돈 1100원
커피 2잔, 잔돈 800원
커피 3잔, 잔돈 500원
커피 4잔, 잔돈 200원

In [3]:
# 사용자로부터 0부투 9까지의 정수를 입력받아 입력된 정수가 5개가
# 될때까지 입력 받는 프로그램을 구현하세요, 중복된 값이 입력되면
# 해당 입력은 무시합니다.

# 0~9 사이 정수를 입력하세요
num = set([])
while len(num)<=4:
  no = int(input('0~9 사이 정수를 입력하세요>> '))
  num.add(no)



print(num)

0~9 사이 정수를 입력하세요>> 0
0~9 사이 정수를 입력하세요>> 0
0~9 사이 정수를 입력하세요>> 1
0~9 사이 정수를 입력하세요>> 4
0~9 사이 정수를 입력하세요>> 5
0~9 사이 정수를 입력하세요>> 6
{0, 1, 4, 5, 6}

In [8]:
# 1부터 100사이의 모든 정수를 한줄에 10개씩 출력하시오
# while 2번 사용할 것
# n = 1
# while n <= 100:
#   if n % 10 != 0:
#     print(n, end='\t')
#   else:
#     print(n)
#   n += 1

n = 1
while n <= 100:
  t = 0
  while t <10:
    print(n, end='\t')
    t += 1
    n += 1
  print("")

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [15]:
############
# for
############

# 몇 번 반복 시킬지 그 횟수가 명확할 때 주로 사용한다.

# for 변수 in 반복시킬 값들:
#   반복실행문

# 리스트
# for i in [1,2,3]:
#   print(i)

# 문자열
# for i in 'hello':
#   print(i)

# 튜플
# for i in (1,2,3):
#   print(i)

# range()
for i in range(1,4,2):   #range(시작(생략가능), 끝(미만), 스탭(생략가능))
  print(i)

# set, dict 는 순서와 상관 없이는 사용 가능

1
3

In [2]:
# 비밀 번호(str)를 입력 받아서 숫자와 문자가 모두 반드시 하나이상
# 포함된 경우만 '사용 가능한 비번입니다.'
# '불가능한 비번입니다'
# ch,isalpha() - 알파벳이면 True
# ch.isnumeric() - 숫자면 True

# (입력) 비밀 번호를 입력하세요 >>>
# (출력) 사용 가능한 비번입니다.

pw = input('비밀 번호를 입력하세요 >>> ')
ch_count = 0
no_count = 0
for ch in pw:
  if ch.isalpha():
    ch_count += 1
  elif ch.isnumeric():
    no_count += 1

if ch_count > 0 and no_count > 0:
  print('사용 가능한 비번입니다.')
else:
  print('불가능한 비번입니다')

비밀 번호를 입력하세요 >>> 215q
사용 가능한 비번입니다.

In [4]:
# range([start], stop, [step])
# 1. 숫자들을 컬렉션으로 만든다.
# 2. start를 생략하면 0부터 시작한다.
# 3. stop은 생략할수 없다.
# 4. step을 생략하면 1씩 증가한다.

range(5)

h
e
l
l
o

In [11]:
# quiz. range와 for 문을 사용하여 구구단을 출략하세요
# (입력) 출력할 구구단을 입력하세요 >>>

dan = int(input('출력할 구구단을 입력하세요 >>> '))

for i in range(1,10):
  print(f'{dan} X {i} = {dan *i}')

출력할 구구단을 입력하세요 >>> 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [16]:
# set, dict 도 for문으로 사용은 가능하다 순서는 보장하지 않는다.

for i in {'가위','바위','보'}:
  print(i)

바위
가위
보

In [23]:
person ={
    'name':'에밀리',
    'age':'20'
}

for i in person:
  print(i)

for i in person:
  print(person[i])

name
age
에밀리
20

In [26]:
# 사용자로부터 양의 정수를 하나 입력 받아서 1부터 입력 받은 정수 까지의
# 모든 정수의 합계를 구하는 프로그램을 작성하세요

no = int(input('정수를 입력하세요 >> '))
sum = 0
for i in range(1,no+1):
  sum += i
print(f'1부터 {no}사이의 모든 정수의 합계는 {sum} 입니다.')

정수를 입력하세요 >> 5
1부터 5사이의 모든 정수의 합계는 15 입니다.

In [27]:
# 사용자로부터 임의의 정수를 하나 입력 받아서 그 숫자 만큼의 '과일이름'입력 받아서
# 'basket' 리스트에 저장하는 프러그램을 작성하세요

# 몇개의 과일을 보관할까요? >>> 3
# 1번째 과일을 입력하세요 >>>
# 2번째 과일을 입력하세요 >>>
# 3번째 과일을 입력하세요 >>>

no = int(input('몇개의 과일을 보관할까요? >>>'))
basket = []
for i in range(1, no+1):
  fruit = input(f'{i}번째 과일을 입력하세요 >>>')
  basket.append(fruit)

print(f'입력받은 과일들은 {basket} 입니다.')

몇개의 과일을 보관할까요? >>>3
1번째 과일을 입력하세요 >>>수박
2번째 과일을 입력하세요 >>>딸기
3번째 과일을 입력하세요 >>>포도
입력받은 과일들은 ['수박', '딸기', '포도'] 입니다.

In [38]:
# 1부터 99 사이의 모든 정수를 대상으로 369게임의 결과를 출력하는 프로그램을 작성하세요
# 1 2 짝  4 5 짝......

for i in range(1,100):
  if(len(i)==1):
    if i%3 == 0:
      print('짝', end = '\t')
  if()
  
  if i % 10 == 0:
    print(i)
  else:
    print(i, end='\t')

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99